body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.phone-screen {
    width: 300px;
    height: 600px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.photo-slider {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.photo-slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.5s ease;
    background-color: rgb(81, 82, 79); /* Задаємо той самий сірий фон */
}

.photo-slide img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.photo-slide.active img {
    transform: scale(1.2);
}

.plus-button {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(81, 82, 79);
    color: #fff;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.star-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: orange;
    display: none;
}

.photo-slide.main .star-icon {
    display: block;
}
