:root {
    --primary-color: #FF5864;
    --background-color: #e6e6fa;
    --text-color: #000000;
    --secondary-color: #333333;
    --hover-color: #555555;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d63dba;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 150vw;
    background-color: #d63dba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.title {
    font-size: 10vw;
    color: black;
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.title1 {
    font-size: 6vw;
    color: black;
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.center-description {
    font-size: 5vw;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.button-container {
    width: 100%;
    padding: 15px;
    background-color: #e580e5;
    text-align: center;
    cursor: pointer;
    position: fixed; /* Фіксуємо кнопку внизу */
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}

.button-container:hover {
    background-color: #e580e5;
}

.button-container p {
    font-size: 5vw;
    color: white;
    margin: 0;
    width: 90%; /* Фіксована ширина кнопки */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.button-container:hover {
    background-color: #a0459d; /* Темніший зелений при наведенні */
}

.input-container {
    width: 400px;
    text-align: center;
    position: relative;
    margin-bottom: 50px; /* Відстань між текстом і інпутом */
}

.input-container input,
.select-container select {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 4.5vw;
    background-color: #e580e5;
    color: white;
    text-align: center;
    outline: none;
    box-sizing: border-box;
}

.input-container input::placeholder {
    color: transparent;
}

.input-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.7;
    pointer-events: none;
    font-size: 4.5vw;
    transition: opacity 0.1s;
}

.input-container input:focus + .input-placeholder,
.input-container input:not(:placeholder-shown) + .input-placeholder {
    opacity: 0;
}

.select-container {
    width: 400px;
    text-align: center;
    position: relative;
    margin-top: +20px;
    margin-bottom: 100px; /* Відстань між текстом і інпутом */
}


.select-container select {
    appearance: none;
    background-color: #e580e5;
    color: white;
}

.select-placeholder {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    color: white;
    opacity: 0.7;
    pointer-events: none;
    font-size: 4.5vw;
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.photo-grid div {
    background-color: #d67cd6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 150px;
}

.photo-grid div::before {
    content: "+";
    font-size: 24px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s;
}

.photo-grid div.filled::before {
    content: none;
}

.photo-grid input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.photo-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.upper-section {
    height: 50vh; /* Це забезпечує, що верхня частина займатиме половину висоти екрана */
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-text {
    font-size: 6vw; /* Збільшуємо розмір тексту */
    color: black;
    text-align: center;
    margin-bottom: 2vh; /* Відступ між текстом і спокусами */
    margin-top: 5vh; /* Відступ від верхньої частини екрана */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 5000px; /* Максимальна ширина контейнера */
    margin-top: 50px; /* Відступ зверху для відокремлення від заголовка */
    margin-bottom: 50px;
}

.grid-item {
    background-color: #e580e5;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.grid-item .description {
    margin-top: 10px;
    font-size: 3vw;
    color: #f1e5f1;
}

.grid-item input[type="checkbox"] {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.container1 {
    width: 100%;
    height: 100%;
    max-width: 150vw;
    background-color: #d63dba;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Починаємо з верхньої частини */
    align-items: center;
    padding: 0 20px;
}
.profile-card {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
    padding: 1%;
    overflow-y: auto;
}

.amount {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

.avatar {
    width: 350px;
    height: 350px;
    min-width: 1px; /* Мінімальна ширина */
    min-height: 115px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 3px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 50%; /* Робимо зображення круглим */
    display: block; /* Завжди показувати зображення */
}

.avatar p {
    font-size: 3vw;
    color: grey;
    text-align: center;
}

.info p {
    margin: 0;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 3px;
}

.details {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.details p {
    margin: 5px 0;
    font-size: 2vw;
}

#seeking,
#name,
#age {
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 3vw;
    margin-bottom: 7px;
}

.temptations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    font-size: 1.5vw;
    user-select: none;
    background-color: #e580e5;
    border-radius: 10px;
    text-align: center;
}

.checkbox-container .description {
    color: white;
    font-size: 1.2vw;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    margin-top: 5px;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: rgb(81, 82, 79);
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    content: "";
    display: none;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#bio {
    width: 100%;
    height: 70px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.5vw;
    box-sizing: border-box;
    resize: none;
    margin-top: 7px;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
}

.context-menu button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}

.context-menu button:hover {
    background-color: #f0f0f0;
}

.save-button {
    width: 100%;
    margin-top: 7px;
    padding: 10px;
    font-size: 3vw;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .amount {
        font-size: 4vw;
    }

    .avatar {
        width: 25vw;
        height: 25vw;
    }

    .info p {
        font-size: 3vw;
    }

    .info p.location {
        font-size: 2.5vw;
    }

    .details p,
    #seeking,
    .checkbox-container,
    #bio {
        font-size: 3vw;
    }

    .checkbox-container .description {
        font-size: 2.5vw;
    }

    .temptations {
        grid-template-columns: repeat(2, 1fr); /* Змінюємо на 2 колонки для мобільних */
    }
}
/* Загальні стилі для кнопок */


.button-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FF69B4; /* Цвет фона панели */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0; /* Убираем внутренние отступы */
    border-top: 0; /* Убираем верхнюю границу */
    border-bottom: 0; /* Убираем нижнюю границу */
}

.button {
    background: none; /* Убираем стандартный фон кнопки */
    border: 1px solid #000000; /* Тонкая черная обводка вокруг каждой кнопки */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; /* Фиксированная ширина для кнопок */
    height: 60px; /* Фиксированная высота для кнопок */
    color: #FFFFFF; /* Цвет текста */
    box-sizing: border-box; /* Включаем обводку в размеры кнопки */
}

.button-icon {
    width: 40px; /* Устанавливаем фиксированную ширину иконок */
    height: 40px; /* Устанавливаем фиксированную высоту иконок */
    object-fit: contain; /* Подогнать изображение под размер кнопки */
}

.button.active, .button.active:hover {
    background-color: #444444; /* Серый фон для активной кнопки */
    color: #FFFFFF; /* Белый цвет текста для активной кнопки */
}

.button.active .button-icon {
    filter: brightness(0) invert(1); /* Инверсия цветов иконки для активной кнопки */
}

.button:hover {
    color: #ff5b77; /* Цвет текста при наведении */
    background-color: #444444; /* Серый фон при наведении */
}

.button:hover .button-icon {
    filter: brightness(0) invert(1); /* Инверсия цвета иконки при наведении */
}

/* Остальные стили остаются без изменений... */


.button.blue { background-color: #d63dba; }
.button.red { background-color: #d63dba; }
.button.green { background-color: #d63dba; }
.button.brown { background-color: #d63dba; }
.button.yellow { background-color: #d63dba; }
.button.orange { background-color: #d63dba; }



/* Додаткові стилі... */
/* Стилі для бокового меню (Settings) */
.menu-container {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d63dba;
    padding: 0; /* Ensure no extra padding */
    box-sizing: border-box;
}

.menu {
    background-color: #d63dba;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 10mm); /* Subtracting the margins from the width */
    height: calc(100% - 10mm); /* Subtracting the margins from the height */
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    width: 100%;
}

.menu a:hover {
    background-color: #fd7cfd;
    color: black;
}

.menu a.active {
    background-color: #DDA0DD;
    color: black;
    border-radius: 8px;
    display: block;
    padding: 10px;
    width: 100%; /* Займає всю ширину контейнера */
    box-sizing: border-box; /* Враховує padding всередині ширини */
}

.title1.active {
    color: black;
    padding: 20px;
    width: 100%; /* Займає всю ширину контейнера */
    box-sizing: border-box; /* Враховує padding всередині ширини */
    text-align: left; /* Вирівнювання тексту зліва */
    margin-bottom: -5px; /* Відступ знизу */
    margin-top: -5px;
    font-size: 2em;
    font-weight: bold;
}


.chat-container {
    background-color: #d63dba;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

.chat-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px; /* Зменшено верхній і нижній відступ */
    background-color: #fa77e2;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.chat-message-avatar {
    background-color: #ffffff;
    color: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 15px;
}

.chat-message-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-message-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1px;
}

.chat-message-header strong {
    font-size: 1.2em;
    color: #333;
    margin-top: -5px; /* Зменшуємо відступ зверху імені */
    margin-bottom: 10px; /* Мінімальний відступ між іменем і текстом */
}

.chat-message-text {
    color: #555;
    margin-left: 65px;
    margin-top: -20px;
}

.chat-message:hover {
    background-color: white;
}

.chat-divider {
    height: 1px;
    background-color: #d63dba;
    margin: 0;
}





body1 {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #d63dba, #c833b0);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
}
.container2 {
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.profile-card2 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
}

.profile-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

.profile-card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    border: 2px solid #fff;
    transition: transform 0.3s ease;
}

.profile-card img:hover {
    transform: scale(1.1);
}

.profile-info h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.profile-info h3:hover {
    text-decoration: underline;
}

.action-buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.action-button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.star-button i,
.delete-button i {
    color: #000; /* Початковий чорний колір */
    transition: color 0.3s ease;
}

.star-button:hover i,
.star-button.starred i {
    color: gold; /* Колір при наведенні або активації */
}
.check-button:hover i {
    color: #27ae60; /* Зелений колір при наведенні */
}

.check-button.checked i {
    color: #27ae60; /* Зелений колір при активації */
}

.delete-button:hover i {
    color: #e74c3c; /* Колір при наведенні або активації */
}

/* Конкретные стили для каждой темы */
.content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

/* Меню налаштувань */
.settings-menu {
    width: 100%;
    max-width: 400px;
    background-color: transparent; /* Сделать фон прозрачным */
    padding: 20px;
    border-radius: 0; /* Убрать закругленные углы */
    box-shadow: none; /* Убрать тень */
}

.settings-menu h2 {
    margin-top: 0;
    font-size: 30px;
    color: #000000; /* Сделать цвет текста черным или любым другим подходящим */
}

.theme-selector {
    display: flex; /* Выстраиваем элементы в ряд */
    justify-content: space-between; /* Равномерно распределяем элементы */
    gap: 10px; /* Интервал между кругами */
    align-items: center; /* Выравниваем по центру по вертикали */
    margin-top: -1px; /* Убираем верхний отступ */
    padding-top: -5px; /* Убираем внутренний верхний отступ */
}

.settings-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px; /* Збільшуємо внутрішні відступи */
    margin-bottom: 3px;
    border-radius: 8px; /* Закруглюємо кути */
    background-color: transparent; /* За замовчуванням - прозорий фон */
    transition: background-color 0.3s ease; /* Плавна зміна фону */
}

.settings-item.special {
    background-color: #f1e5f1; /* Фон для вибраних елементів */
}

.settings-item:hover {
    background-color: #ffffff; /* Зміна фону при наведенні */
}

.settings-item:active {
    background-color: #d63dba; /* Зміна фону при натисканні */
}

.settings-item label {
    font-size: 22px;
    color: #000000; /* Чорний текст */
}




/* Изменить стиль переключателей тем (при необходимости) */
.theme-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 2px solid #000000; /* Сделать границу черной */
    transition: transform 0.2s, border-color 0.2s;
}


.theme-circle:hover {
    transform: scale(1.1);
    border-color: #000000; /* Изменить цвет границы при наведении */
}

/* Остальные стили тем могут остаться без изменений */


.theme-circle::before,
.theme-circle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.theme-circle::before {
    background-color: var(--left-color);
    transform: rotate(45deg);
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

.theme-circle::after {
    background-color: var(--right-color);
    transform: rotate(45deg);
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

/* Конкретні кольори для тем */
.theme-black-white {
    --left-color: #000000;
    --right-color: #FFFFFF;
}

.theme-dark-gray {
    --left-color: #2C2C2C;
    --right-color: #A9A9A9;
}

.theme-purple-pink {
    --left-color: #800080;
    --right-color: #FFC0CB;
}

.theme-blue-lightblue {
    --left-color: #0000FF;
    --right-color: #87CEEB;
}

/* Стилі для кнопок */
.button-bar {
    position: fixed; /* Фіксована позиція */
    bottom: 0; /* Прив'язка до нижньої частини екрану */
    left: 0;
    width: 100%; /* Ширина на весь екран */
    background-color: #d63dba; /* Фон панелі */
    display: flex;
    justify-content: space-around; /* Рівномірно розташовуємо кнопки */
    align-items: center;
    height: 70px; /* Фіксована висота панелі кнопок */
    z-index: 9999; /* Панель завжди зверху */
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); /* Тінь для панелі */
    box-sizing: border-box;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: white;
}

.button-icon {
    width: 40px;
    height: 40px;
}

.button:hover {
    background-color: #444444;
}

.button:active {
    background-color: #333;
}

/* Адаптивний дизайн для мобільних */
@media (max-width: 768px) {
    .button-bar {
        height: 60px; /* Зменшуємо висоту панелі на мобільних пристроях */
    }

    .button {
        width: 100px;
        height: 60px;
    }

    .button-icon {
        width: 30px;
        height: 30px;
    }
}



.top-bar3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d63dba; /* Чорна верхня панель */
}

.top-bar3 img {
    width: 30px;
    height: 30px;
}

.logo3 {
    font-size: 24px;
    font-weight: bold;
    color: #000000; /* Червоний колір для логотипу */
}

.content3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Початок контенту згори */
    align-items: center;
    background-color: #d63dba; /* Чорний фон основного контенту */
    position: relative;
    padding: 0; /* Видалення відступів */
}

.photo-container3 {
    width: 100%;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    margin-top: 5px; /* Відступ у 5 пікселів зверху */
}

.photo-container3 img {
    width: 100%;
    height: auto;
    border-radius: 0px;
}

.photo-indicators3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Розширення індикаторів */
}

.photo-indicator3 {
    flex-grow: 1; /* Розширення індикаторів на всю ширину */
    height: 4px;
    background-color: #ccc;
    border-radius: 2px;
}

.photo-indicator3.active {
    background-color: #FFF;
}

.profile-info3 {
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 160px; /* Збільшуємо зміщення вверх для додаткового відступу від кнопок */
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    width: 90%;
    max-width: 360px;
}


.profile-info3 h3 {
    margin: 0;
    font-size: 24px;
}

.profile-info3 p {
    margin: 5px 0 0;
    font-size: 14px;
}

.bottom-bar3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #d63dba; /* Чорний фон нижньої панелі */
    gap: 30px; /* Збільшення простору між кнопками */
    position: absolute;
    bottom: 10px;
    width: 100%;
}


.bottom-bar3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #d63dba; /* Фон нижньої панелі */
    gap: 30px; /* Збільшення простору між кнопками */
    position: absolute;
    bottom: 0; /* Робимо панель фіксованою на дні екрана */
    width: 100%;
}

.bottom-bar3 .icon-button3 {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.bottom-bar3 .icon-button3.large {
    width: 70px;
    height: 70px;
}

.bottom-bar3 .icon-button3.small {
    width: 50px;
    height: 50px;
}

.bottom-bar3 .icon-button3:hover {
    background-color: #FF5864; /* Червоний фон при наведенні */
}

.bottom-bar3 .icon-button3 i {
    color: #000;
}

.bottom-bar3 .like-button3 {
    background-color: #4CAF50; /* Зелена кнопка "Like" */
}

.bottom-bar3 .like-button3 i {
    color: #FFF;
}

.bottom-bar3 .dislike-button3 {
    background-color: #FF5864; /* Червона кнопка "Dislike" */
}

.bottom-bar3 .dislike-button3 i {
    color: #FFF;
}

.bottom-bar3 .dislike-button3 {
    background-color: #FF5864; /* Червона кнопка "Dislike" */
}

.bottom-bar3 .dislike-button3 i {
    color: #FFF;
}

.top-bar-icons3 {
    display: flex;
    gap: 10px;
}

.top-bar-icons3 .icon-button3 {
    width: 35px;
    height: 35px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.top-bar-icons3 .icon-button3 i {
    color: #000;
}
