body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    width: 375px;
    height: 800px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.top-section {
    width: 100%;
    height: calc(100% - 50px); /* Зменшили висоту, щоб врахувати чорну секцію */
    position: relative;
    background-color: lightgray;
}

.background-rectangle {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.background-rectangle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons-top {
    position: absolute;
    bottom: 20px; /* Розміщення верхнього ряду кнопок */
    width: 100%;
    display: flex;
    justify-content: space-evenly; /* Рівномірно розташовані кнопки у верхньому ряду */
    z-index: 3; /* Збільшили z-index, щоб кнопки були перед сірим прямокутником */
}

.buttons-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around; /* Початкове розташування кнопок у нижньому ряду */
    z-index: 3; /* Збільшили z-index, щоб кнопки були перед сірим прямокутником */
    background-color: black;
    padding: 1mm; /* Відступи зверху і знизу для чорного фону */
}

.button {
    width: 48px; /* 50px - 2 мм (по 1 мм з кожної сторони) */
    height: 48px; /* 50px - 2 мм (по 1 мм з кожної сторони) */
    border-radius: 50%;
}

.dislike {
    background-color: red;
}

.like {
    background-color: green;
}

.neutral {
    background-color: blue;
}

.settings {
    background-color: gray;
}

.wallet {
    background-color: gold;
}

.plus {
    background-color: teal;
}

.chat {
    background-color: purple;
}

.profile {
    background-color: darkblue;
}

.new-color1 {
    background-color: orange;
}

.new-color2 {
    background-color: pink;
}

.center-square {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    height: 720px;
    background-color: #c9c9c9;
    border-radius: 10px;
    z-index: 2;
}
